* {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

header{
    height: 10vh;
    text-align: center;
    color: white;
    background-color: #000;
    width: 100%;
}

main{
    display: flex;
    gap: 2rem;
    padding: 2rem 1rem 0 1rem;
}
#filter{
    background-color: #414141;
    width: 20%;
    height: 85vh;
}
#cards{
    background-color: rgb(0, 53, 53);
    width: 85%;
    height: 85vh;
}