* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

main {
    margin-top: 60px;
    display: flex;
    width: 100%;
    position: relative;
}


#filter-section {
    position: fixed;
    top: 85px;                    
    left: 40px;                   
    width: 280px;                 
    height: calc(100vh - 80px);  
    overflow-y: auto;
}

.filter-container {
    background: #141414;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.title {
    color: #ff7a2f;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 25px;
}

.search-name input {
    width: 100%;
    background: #1a1a1a;
    border: none;
    padding: 10px;
    border-radius: 6px;
    margin-top: 5px;
    outline: none;
    color: #fff;
}

.filter-title {
    font-size: 15px;
    color: #e4e4e4;
    margin: 15px 0 10px;
}

.filter-category div {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 4px 0;
}

.filter-category input {
    accent-color: #ff7a2f;
}

.filter-category label {
    color: #cfcfcf;
    font-size: 14px;
}

.date-filter input {
    width: 80px;
    padding: 8px;
    background: #1a1a1a;
    border: none;
    border-radius: 6px;
    color: #fff;
    margin-bottom: 10px;
}

/* CONTAINER DOS CARDS */
#cards {
    margin-left: 360px; 
    padding: 30px 40px;
    width: calc(100% - 320px);
}

#cards h2 {
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 25px;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 25px;
}

.filter-button {
  background-color: #ff7a2f;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: flex-start;
  margin-top: 10px;
}

.filter-button:hover {
  background-color: #aa4c15;
}

.filter-button:active {
  transform: translateY(1px);
}